@import "../../styles/custom.css";

.exercise-list-db {
  .query-search {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      display: block;
      width: 350px;
    }
  }

  .list {
    background-color: var(--primary-100);
    border-radius: 10px;
    padding: 1rem;
    height: 90%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
  }
}
