.display-area {
  content: "";
  width: 100%;
  height: 94.55dvh;
  margin: 0;
  background-color: black;
}

.display-area .on-camera {
  position: relative;
  content: "";
  max-width: 730px;
  width: 90%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  overflow-y: scroll;
}
