.exercise {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .exercise-info {
    .name {
      display: block;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid grey;
      margin-bottom: 1rem;
    }

    .num-sets {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 0.75rem;
    }

    .exercise-sets {
      margin-left: 1rem;
      border-left: 1px solid grey;
      padding-left: 0.5rem;

      p {
        font-size: 1.15rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    button {
      width: 8rem;
      padding: 0.5rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      cursor: d;
    }
  }
}
