.navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
}

.navbar a:visited {
  color: rgb(255, 162, 162);
}
