.select-exercise {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 37.7rem;
  width: 37.8rem;
}

.select-exercise .search-exercise {
  width: 100%;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  input#search-name {
    width: 20rem;
    padding: 0.15rem;
    font-size: 1.25rem;
  }

  button.filter-options {
    font-size: 1.25rem;
    padding: 0.15rem;
  }
}

.select-exercise .search-exercise .filter-menu {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);

  background-color: rgb(255, 255, 255);

  border: 2px solid black;
  border-radius: 1rem;
  margin: 1rem auto;
  padding-top: 1rem;
  width: 95%;
  height: 89%;

  .category-name {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }

  .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 2rem 2.5rem;

    input {
      display: none;
    }

    label {
      border: 1px solid black;
      border-radius: 1rem;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      padding: 0.5rem 0.75rem;
      user-select: none;
      cursor: pointer;
    }

    label.checked {
      border: 1px solid wheat;
      background-color: black;
      color: wheat;
    }
  }

  .filter-buttons {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-top: 3rem;

    button {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}

.select-exercise .search-results {
  width: 100%;
  height: 100%;
  overflow: scroll;

  .selectable-exercise {
    border: 1px solid #00000000;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;

    cursor: pointer;

    img {
      width: 100px;
      border-right: 1px solid grey;
      padding-right: 1rem;
      margin-right: 1rem;
    }
  }

  .selectable-exercise:hover {
    border: 1px solid #000000;
  }
}

.select-exercise button.close-menu {
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  margin-top: 1rem;
}
