@import "../../../styles/custom.css";

.profile {
  max-width: 500px;
  margin: 0 1rem;

  .details {
    .image {
      position: relative;
      z-index: 1;
      transform-style: preserve-3d;
      background-color: #00000000;
      width: 100%;
      height: 150px;
      margin: 0 auto 3rem;

      img {
        position: relative;
        top: 2rem;
        z-index: 1;
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        border: 5px dashed var(--primary-300);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-100);
      border-radius: 18px;
    }
  }

  .info {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    section {
      display: block;
      width: 100%;

      h3 {
        font-weight: 400;
      }

      p {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }

    section:first-of-type {
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--primary-100);
      margin-bottom: 1rem;
    }
  }

  .manage-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin: 1rem 0 2rem;

    button {
      cursor: pointer;
      width: 200px;
      padding: 0.5rem;
      background-color: var(--primary-100);
      border: none;
      border-radius: 20px;
      color: var(--text-950);
    }

    button:hover {
      background-color: var(--primary-300);
    }

    .logout {
      margin-top: 2rem;
    }
  }

  .delete-account {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    cursor: pointer;
    width: fit-content;
    border: 2px solid #00000000;
    border-radius: 20px;
    background-color: #00000000;
    color: var(--error-message-300);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;

    .logo {
      text-transform: none;
    }
  }

  .delete-account:hover {
    border-color: var(--error-message-300);
  }

  button {
    transition: 0.05s;
  }

  button:active {
    scale: 0.95;
  }
}
