.create-workout {
  width: 95%;
  max-height: 90%;
  height: 100%;
  margin: 0 auto;
}

.create-workout form.workout-submit {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.create-workout form.workout-submit input#workout-name {
  width: 80%;
  font-size: 1.5rem;

  padding: 0.5rem;
}

.create-workout form.workout-submit button#submit-workout {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.create-workout .exercise-list {
  margin-top: 1rem;
}

.create-workout .exercise-list .add-exercise {
  width: 100%;

  button {
    display: block;
    margin: 0 auto;
    font-size: 1.15rem;
    padding: 0.25rem 0.5rem;
  }
}

.create-workout .exercise-list .added-exercise {
  margin-top: 1rem;
}
