.workout {
  width: 300px;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.workout:hover {
  background-color: rgb(255, 240, 212);
}

.workout div.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.workout {
  .info {
    p.name {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    p.num-exercise {
      font-size: 1.15rem;
    }
  }

  .date-creation p {
    width: 100%;
    font-size: 0.8rem;
    color: rgb(59, 59, 59);
    text-transform: uppercase;
  }
}
